<%- include('./partials/head.ejs') %>
  <main>
    <header>
      <img src="/assets/logo.svg" alt="HvA logo">
      <h1>MijnHvA</h1>
      <label for="toggle">
        <img src="/assets/users.svg" alt="HvA logo">
      </label>
    </header>
    <div>
      <ul class="chat"></ul>
      <p class="typing"></p>
    </div>
    <form action="/">
      <div class="chat-bar">
        <input type="text" name="message" id="message" placeholder="Start typing...">
        <button class="send">
          <img src="/assets/arrow.svg" alt="Arrow right">
        </button>
      </div>
    </form>
    <input type="checkbox" name="toggleOnline" id="toggle">
    <div class="users">
      <div>
        <h2>Currently in Room</h2>
        <ul class="list"></ul>
      </div>
    </div>
  </main>
  <%- include('./partials/foot.ejs') %>