<%- include('./partials/head.ejs') %>
  <h1>Chatroom</h1>
  <ul class="chat"></ul>
  <form action="/">
    <input type="text" name="message" id="message">
    <button class="send">Send</button>
  </form>
  <ul class="connections">

  </ul>
  <%- include('./partials/foot.ejs') %>